<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Santiago_Z Nicolas_Sanchez Juan_Robledo">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wiki</title>
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/content.css">
    <link rel="stylesheet" href="styles/foot.css">
    <script src="js/panel.js"></script>
    <script src="js/active.js"></script>

</head>

<body>
    <header>
        <nav class="main-nav">
            <a href="index.html" class="logo">JN<span id="logo-i">Z</span></a>
            <ul class="navlinks">
                <li> <a href="index.html">Presentación</a></li>
                <li> <a href="requirements.html">Requerimientos</a></li>
                <li> <a href="description.html">Descripción</a></li>
                <li> <a href="architecture.html">Arquitectura</a></li>
                <li> <a href="development.html">Desarrollo</a></li>
                <li> <a href="tests.html">Pruebas</a></li>
                <li> <a href="deployment.html">Despliegue</a></li>
                
            </ul>
        </nav>
    </header>

    <div id="root-wrapper">
        <div id="root">

            <div class="panel">
                <h1>Docs</h1>
                <ul class="panel-list" id="table-panel">

                </ul>


            </div>
            <div class="content">
                <h1 class="content-title">Despliegue</h1>
                <p>En el proyecto actual, tanto el backend como el frontend se despliegan utilizando diferentes plataformas y enfoques.</p>
                <p>El despliegue del backend se realiza utilizando la plataforma Railway.app, que es un servicio de "platform as a service" (PaaS). Railway.app permite montar y ejecutar contenedores necesarios para el backend, incluyendo la base de datos, el backend y el proxy. Esta plataforma simplifica el proceso de despliegue y gestión del backend, proporcionando un entorno escalable y confiable.</p>
                <p>Por otro lado, el despliegue del frontend se lleva a cabo utilizando la plataforma Vercel.com. Vercel.com es un servicio de alojamiento de aplicaciones web que se especializa en el despliegue y entrega eficiente de proyectos front-end. Proporciona una infraestructura optimizada y confiable, incluyendo una red de entrega de contenido (CDN), para asegurar un rendimiento rápido y una alta disponibilidad del frontend.</p>
                <p>Ambas plataformas ofrecen integración con control de versiones, como Git, lo que permite la implementación continua y automática de los cambios realizados en los repositorios. Esto significa que cada vez que se realizan actualizaciones en el código del backend o frontend y se suben al repositorio, las plataformas detectan los cambios y despliegan automáticamente las nuevas versiones del backend y del frontend, asegurando que los usuarios siempre tengan acceso a las últimas funcionalidades y mejoras.</p>
                <h2 class="content-subtitle">Backend</h2>
                <div class="image-section">
                    <img src="img/Rainwapp.jpg" alt="Descripción de la imagen">
                </div>
                
                <p>Para el despliegue del backend, se utiliza una estructura montada en la plataforma Railway.app. Railway.app es un servicio de "platform as a service" (PaaS), que brinda un entorno en el que se pueden montar y ejecutar contenedores de manera sencilla. En este caso, se han montado los contenedores necesarios para la base de datos, el backend y el proxy.</p>

                <p>Dentro de esta estructura, se pueden identificar tres componentes principales. El primero es el servidor, que se encarga de recibir las solicitudes entrantes y gestionar las respuestas correspondientes. El segundo componente es la base de datos MySQL, que almacena y gestiona la información del sistema de manera persistente. Y por último, se encuentra el proxy de cores, que actúa como intermediario entre el servidor y los clientes, gestionando las solicitudes y optimizando la comunicación.</p>
                <p>Esta implementación ha sido diseñada para garantizar que las peticiones se realicen sin problemas. Esto implica que se han tenido en cuenta aspectos como la configuración adecuada de los componentes, la gestión eficiente de la base de datos y la optimización de la comunicación entre el servidor y los clientes.</p>
                <p>En cuanto al proceso de desarrollo y actualización, se ha establecido una integración con Git. Esto significa que los despliegues están vinculados al repositorio de Git utilizado para el proyecto. Cada vez que se realiza una actualización en el repositorio (mediante un commit), los cambios se reflejan automáticamente en el entorno de despliegue. De esta manera, se asegura que las actualizaciones realizadas en el código se implementen de manera inmediata en el sistema desplegado.</p>

                <div class="image-section">
                    <img src="img/CaracteristicasBackend.jpg" alt="Descripción de la imagen">
                </div>


                <h2 class="content-subtitle">Frontend</h2>
                
<p>El frontend de esta aplicación se refiere a la parte de la aplicación web que se muestra y con la que interactúan los usuarios. Está diseñado y desarrollado para brindar una experiencia visual y funcional atractiva.</p>
<p>Vercel.com es una plataforma de alojamiento y despliegue de aplicaciones web que se especializa en el frontend. Proporciona una infraestructura escalable y confiable para ejecutar y distribuir el frontend de manera eficiente.</p>

<p>Cuando se despliega el frontend en Vercel.com, este se beneficia de varias características y funcionalidades que Vercel.com ofrece. Una de las principales ventajas es su integración directa con sistemas de control de versiones como Git. Esto permite vincular el repositorio de código fuente del frontend con Vercel.com, de modo que cada vez que se realiza un cambio o una actualización en el repositorio, Vercel.com detecta automáticamente estos cambios y realiza una nueva implementación del frontend.</p>

<p>Además, Vercel.com utiliza una red de entrega de contenido (CDN) para servir el frontend de manera rápida y eficiente a los usuarios finales. Los archivos estáticos del frontend se distribuyen en varios servidores ubicados en diferentes ubicaciones geográficas, lo que permite una entrega rápida y optimizada de los contenidos a los usuarios en todo el mundo.</p>

<p>Vercel.com también proporciona herramientas y funcionalidades adicionales para mejorar el rendimiento del frontend. Estas incluyen la compresión de archivos estáticos para reducir los tiempos de carga, el almacenamiento en caché para un acceso más rápido a los recursos y el enrutamiento dinámico que permite crear rutas personalizadas para diferentes secciones de la aplicación.</p>
<div class="image-section">
    <img src="img/vercel.jpg" alt="Descripción de la imagen">
</div>
            </div>
        </div>
        <footer>
            <div id="footer-wrapper">
                <div class="socials-wrapper">
                    <img src="" alt="">
                    <a href="https://www.instagram.com"><img class="social-icon" src="img/instagram.png"
                            alt="Instagram"></a>
                    <a href="https://www.twitter.com"><img class="social-icon" src="img/twitter.png" alt="Twitter"></a>
                    <a href="https://www.github.com"><img class="social-icon" src="img/github.png" alt="Github"></a>

                </div>

                <div class="about-wrapper">
                    <a href="contact.html" class="about-link"><i class="about-text">Contacto</i></a>

                    <i class="about-text">Alojado en render.com</i>
                    <i class="about-text">🄯Yo 2023</i>
                </div>

            </div>

        </footer>
    </div>




</body>

</html>