<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Santiago_Z Nicolas_Sanchez Juan_Robledo">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wiki</title>
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/content.css">
    <link rel="stylesheet" href="styles/foot.css">
    <script src="js/panel.js"></script>
    <script src="js/active.js"></script>

</head>

<body>
    <header>
        <nav class="main-nav">
            <a href="index.html" class="logo">JN<span id="logo-i">Z</span></a>
            <ul class="navlinks">
                <li> <a href="index.html">Presentación</a></li>
                <li> <a href="requirements.html">Requerimientos</a></li>
                <li> <a href="description.html">Descripción</a></li>
                <li> <a href="architecture.html">Arquitectura</a></li>
                <li> <a href="development.html">Desarrollo</a></li>
                <li> <a href="tests.html">Pruebas</a></li>
                <li> <a href="deployment.html">Despliegue</a></li>
               
            </ul>
        </nav>
    </header>

    <div id="root-wrapper">
        <div id="root">

            <div class="panel">
                <h1>Docs</h1>
                <ul class="panel-list" id="table-panel">

                </ul>


            </div>
            <div class="content">
                <h1 class="content-title">Descripción del proyecto</h1>
                <p>
                    El proyecto es una aplicación web que permite a los jugadores de deportes reservar canchas deportivas y a los administradores de las canchas administrar sus instalaciones y reservas correspondientes. La aplicación web consta de dos roles de usuario: jugador y administrador.

Los jugadores podrán registrarse en la aplicación y buscar canchas deportivas disponibles en su área, visualizar la disponibilidad en tiempo real y reservar en línea. Los jugadores también podrán ver su historial de reservas y cancelar una reserva si es necesario.

Los administradores de las canchas deportivas podrán registrarse en la aplicación y administrar sus instalaciones y reservas correspondientes. Los administradores podrán agregar nuevas canchas, visualizar la disponibilidad de las canchas, aceptar o rechazar las reservas de los jugadores y ver los informes de reservas.

La aplicación utilizará la persistencia JPA para el ingreso de información a la base de datos. Además, se utilizará una plantilla Angular para una interfaz de usuario amigable y funcional. Se definirán los requerimientos, se realizarán pruebas y se presentarán los resultados obtenidos en un informe final.

En resumen, el proyecto proporciona una solución en línea fácil de usar para la reserva de canchas deportivas y la administración de instalaciones y reservas correspondientes.
                </p>
                <h2 class="content-subtitle">Propósito</h2>
                <p>
                    El propósito del proyecto es desarrollar una aplicación web que permita a los jugadores alquilar canchas deportivas y a los administradores de las canchas administrar sus instalaciones y reservas correspondientes. El objetivo principal es proporcionar una plataforma en línea fácil de usar para que los usuarios puedan reservar canchas deportivas en su área de manera conveniente y eficiente.    
                </p>
                

                <h2 class="content-subtitle">Motivación</h2>
                <p>
                    La motivación detrás del proyecto es la necesidad de una plataforma que permita a los jugadores de deportes reservar canchas de manera sencilla y rápida. Tradicionalmente, la reserva de canchas deportivas se realizaba a través de llamadas telefónicas o visitas en persona, lo que podía ser ineficiente y llevaba tiempo. La aplicación web ofrecerá una solución conveniente para la reserva de canchas deportivas y permitirá a los usuarios ver la disponibilidad en tiempo real y reservar en línea. Además, el proyecto también brinda una solución para los administradores de las canchas deportivas, ya que podrán administrar sus instalaciones y reservas en línea de manera eficiente. Esto aumentará la eficiencia en la gestión de las instalaciones y mejorará la experiencia general de los usuarios en la reserva de canchas deportivas.
                </p>
                
                

            </div>
        </div>
        <footer>
            <div id="footer-wrapper">
                <div class="socials-wrapper">
                    <img src="" alt="">
                    <a href="https://www.instagram.com"><img class="social-icon" src="img/instagram.png"
                            alt="Instagram"></a>
                    <a href="https://www.twitter.com"><img class="social-icon" src="img/twitter.png" alt="Twitter"></a>
                    <a href="https://www.github.com"><img class="social-icon" src="img/github.png" alt="Github"></a>

                </div>

                <div class="about-wrapper">
                    <a href="contact.html" class="about-link"><i class="about-text">Contacto</i></a>

                    <i class="about-text">Alojado en render.com</i>
                    <i class="about-text">🄯Yo 2023</i>
                </div>

            </div>

        </footer>
    </div>




</body>

</html>