<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Santiago_Z Nicolas_Sanchez Juan_Robledo">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wiki</title>
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/content.css">
    <link rel="stylesheet" href="styles/foot.css">
    <script src="js/panel.js"></script>
    <script src="js/active.js"></script>

</head>

<body>
    <header>
        <nav class="main-nav">
            <a href="index.html" class="logo">JN<span id="logo-i">Z</span></a>
            <ul class="navlinks">
                <li> <a href="index.html">Presentación</a></li>
                <li> <a href="requirements.html">Requerimientos</a></li>
                <li> <a href="description.html">Descripción</a></li>
                <li> <a href="architecture.html">Arquitectura</a></li>
                <li> <a href="development.html">Desarrollo</a></li>
                <li> <a href="tests.html">Pruebas</a></li>
                <li> <a href="deployment.html">Despliegue</a></li>
                
            </ul>
        </nav>
    </header>

    <div id="root-wrapper">
        <div id="root">

            <div class="panel">
                <h1>Docs</h1>
                <ul class="panel-list" id="table-panel">

                </ul>


            </div>
            <div class="content">
                <h1 class="content-title">Desarrollo</h1>
                <p>
                    El desarrollo del proyecto se llevó a cabo utilizando un sistema de control de versiones llamado Git, y se utilizó GitHub como plataforma de alojamiento remoto para el repositorio de Git.
                </p>
                <h2 class="content-subtitle">Sistema de control de versiones</h2>

                <h2 class="content-subtitle2">Git</h2>
                <p>
                    Git es un sistema de control de versiones distribuido que permite a los desarrolladores rastrear y controlar los cambios en el código fuente de un proyecto. GitHub, por su parte, es una plataforma en línea que proporciona servicios de alojamiento para proyectos de software utilizando Git como sistema de control de versiones. En GitHub, los desarrolladores pueden trabajar juntos en proyectos y compartir su trabajo con otros colaboradores, lo que facilita la colaboración en equipo y el seguimiento de los cambios realizados en el proyecto.
                </p>

                <h2 class="content-subtitle2">Github</h2>
                <p>La utilización de GitHub para manejar las versiones del código fuente y llevar un registro de los cambios realizados en el mismo es una práctica común en el desarrollo de software. Al utilizar esta plataforma, los desarrolladores pueden trabajar de forma colaborativa en un mismo proyecto, sin tener que preocuparse por perder información o versiones anteriores del código.</p>
                <p>La creación de ramas (branches) es una funcionalidad clave de GitHub, ya que permite a los desarrolladores trabajar en cambios específicos sin afectar la rama principal (main branch) del proyecto. Cada rama es una copia del código en su estado actual, lo que permite a los desarrolladores trabajar en paralelo y experimentar con nuevas ideas sin comprometer el código existente.</p>

                <p>Una vez que un desarrollador ha terminado de trabajar en sus cambios, pueden enviar una solicitud de extracción (pull request) al equipo principal para revisar y fusionar sus cambios con la rama principal (main branch). Esto permite una revisión y aprobación cuidadosa del trabajo realizado por cada desarrollador, lo que asegura que el código que se fusiona en la rama principal es de alta calidad y no tiene errores o conflictos con otras partes del código.</p>
                            
                <p>En resumen, GitHub es una herramienta valiosa para el control de versiones y la gestión de proyectos de software, ya que permite una colaboración eficiente y organizada entre los miembros del equipo. La creación de ramas y las solicitudes de extracción son características importantes que ayudan a garantizar que el código se desarrolle de manera segura y confiable.</p>

                
            </div>
        </div>
        <footer>
            <div id="footer-wrapper">
                <div class="socials-wrapper">
                    <img src="" alt="">
                    <a href="https://www.instagram.com"><img class="social-icon" src="img/instagram.png"
                            alt="Instagram"></a>
                    <a href="https://www.twitter.com"><img class="social-icon" src="img/twitter.png" alt="Twitter"></a>
                    <a href="https://www.github.com"><img class="social-icon" src="img/github.png" alt="Github"></a>

                </div>

                <div class="about-wrapper">
                    <a href="contact.html" class="about-link"><i class="about-text">Contacto</i></a>

                    <i class="about-text">Alojado en render.com</i>
                    <i class="about-text">🄯Yo 2023</i>
                </div>

            </div>

        </footer>
    </div>




</body>

</html>