<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Santiago_Z Nicolas_Sanchez Juan_Robledo">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wiki</title>
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/content.css">
    <link rel="stylesheet" href="styles/foot.css">
    <script src="js/panel.js"></script>
    <script src="js/active.js"></script>

</head>

<body>
    <header>
        <nav class="main-nav">
            <a href="index.html" class="logo">JN<span id="logo-i">Z</span></a>
            <ul class="navlinks">
                <li> <a href="index.html">Presentación</a></li>
                <li> <a href="requirements.html">Requerimientos</a></li>
                <li> <a href="description.html">Descripción</a></li>
                <li> <a href="architecture.html">Arquitectura</a></li>
                <li> <a href="development.html">Desarrollo</a></li>
                <li> <a href="tests.html">Pruebas</a></li>
                
            </ul>
        </nav>
    </header>

    <div id="root-wrapper">
        <div id="root">

            <div class="panel">
                <h1>Docs</h1>
                <ul class="panel-list" id="table-panel">

                </ul>


            </div>
            <div class="content">
                <h1 class="content-title">Lista de requerimientos</h1>
                <h2 class="content-subtitle">Requerimientos funcionales</h2>
                <p>
                  
                </p>
                <h2 class="content-subtitle2">Registro de jugadores y administradores</h2>
                <p>
                    Los usuarios deben poder registrarse como jugadores o administradores. El registro debe requerir información básica, como nombre, correo electrónico y contraseña.
                </p>

                <h2 class="content-subtitle2">Búsqueda de canchas disponibles</h2>
                <p>
                    Los jugadores deben poder buscar canchas deportivas disponibles en su área. La búsqueda debe ser fácil de usar y permitir a los jugadores filtrar las opciones de búsqueda, como deporte, ubicación, fecha y hora.
                </p>
                <h2 class="content-subtitle2">Reserva de canchas deportivas en línea</h2>
                <p>
                    Los jugadores deben poder reservar canchas deportivas en línea. La reserva debe permitir a los jugadores seleccionar la fecha, la hora y la duración de la reserva.
                </p>
                <h2 class="content-subtitle2"> Cancelación de reservas</h2>
                <p>
                    Los jugadores deben poder cancelar una reserva en línea si es necesario. La cancelación debe ser fácil de usar y permitir a los jugadores recibir un reembolso si corresponde.
                </p>
                <h2 class="content-subtitle2">Administración de canchas deportivas</h2>
                <p>
                    Los administradores deben poder agregar, editar y eliminar canchas deportivas. La administración de canchas debe permitir a los administradores especificar el deporte, la ubicación y la disponibilidad de las canchas.
                </p>

                <h2 id="test" class="content-subtitle">Requerimientos no funcionales</h2>
                <p>
                    <strong>Seguridad:</strong> La aplicación debe tener medidas de seguridad adecuadas para proteger la información personal de los usuarios y garantizar la integridad de los datos.<br>
                    <br>
                    <strong>Usabilidad:</strong> La aplicación debe ser fácil de usar y tener una interfaz de usuario intuitiva para que los usuarios puedan navegar por la aplicación de manera eficiente.<br>
                    <br>
                    <strong>Rendimiento:</strong> La aplicación debe tener un rendimiento rápido y eficiente para que los usuarios puedan hacer reservas de manera rápida y eficiente.<br>
                    <br>
                    <strong>Escalabilidad:</strong> La aplicación debe tener la capacidad de manejar una gran cantidad de usuarios y reservas al mismo tiempo.<br>
                    <br>
                    <strong>Mantenimiento:</strong> La aplicación debe ser fácil de mantener y actualizar para asegurar su correcto funcionamiento en todo momento.
                </p>

            </div>
        </div>
        <footer>
            <div id="footer-wrapper">
                <div class="socials-wrapper">
                    <img src="" alt="">
                    <a href="https://www.instagram.com"><img class="social-icon" src="img/instagram.png"
                            alt="Instagram"></a>
                    <a href="https://www.twitter.com"><img class="social-icon" src="img/twitter.png" alt="Twitter"></a>
                    <a href="https://www.github.com"><img class="social-icon" src="img/github.png" alt="Github"></a>

                </div>

                <div class="about-wrapper">
                    <a href="contact.html" class="about-link"><i class="about-text">Contacto</i></a>

                    <i class="about-text">Alojado en render.com</i>
                    <i class="about-text">🄯Yo 2023</i>
                </div>

            </div>

        </footer>
    </div>




</body>

</html>