<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Santiago_Z Nicolas_Sanchez Juan_Robledo">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wiki</title>
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/content.css">
    <link rel="stylesheet" href="styles/foot.css">
    <script src="js/panel.js"></script>
    <script src="js/active.js"></script>

</head>

<body>
    <header>
        <nav class="main-nav">
            <a href="index.html" class="logo">JN<span id="logo-i">Z</span></a>
            <ul class="navlinks">
                <li> <a href="index.html">Presentación</a></li>
                <li> <a href="requirements.html">Requerimientos</a></li>
                <li> <a href="description.html">Descripción</a></li>
                <li> <a href="architecture.html">Arquitectura</a></li>
                <li> <a href="development.html">Desarrollo</a></li>
                <li> <a href="tests.html">Pruebas</a></li>
                <li> <a href="deployment.html">Despliegue</a></li>
                
            </ul>
        </nav>
    </header>

    <div id="root-wrapper">
        <div id="root">

            <div class="panel">
                <h1>Docs</h1>
                <ul class="panel-list" id="table-panel">

                </ul>


            </div>
            <div class="content">
                <h1 class="content-title">Pruebas</h1>
                <h2 class="content-subtitle">JwtServiceTest</h2>
                
                <h2 class="content-subtitle2">checkValidToken()</h2>
                <p>Esta prueba verifica si un token es válido. Se asegura de que el servicio Jwt pueda validar correctamente un token y determinar si es válido o no.</p>
            
                <h2 class="content-subtitle2">checkUsernameToken()</h2>
                <p>Esta prueba comprueba si el servicio Jwt puede extraer correctamente el nombre de usuario del token. Verifica si el servicio puede obtener el nombre de usuario almacenado en el token.</p>
            
                <h2 class="content-subtitle2">genToken()</h2>
                <p>Esta prueba se encarga de verificar si el servicio Jwt puede generar un token correctamente. Asegura que el servicio pueda crear un token con los datos requeridos.</p>
            
                <h2 class="content-subtitle">RequestControllerTest</h2>
            
                <h2 class="content-subtitle2">getRequestBadRequest()</h2>
                <p>Esta prueba se enfoca en verificar el manejo de una solicitud de obtener datos cuando se proporcionan parámetros incorrectos o insuficientes. Comprueba si el controlador de solicitudes puede manejar adecuadamente una solicitud inválida y responder con un código de error correspondiente.</p>
                
                <h2 class="content-subtitle2">acceptRequestBadRequest()</h2>
                <p>Esta prueba se centra en probar el manejo de una solicitud de aceptación de una solicitud específica cuando se proporcionan datos incorrectos. Verifica si el controlador puede identificar y manejar adecuadamente una solicitud inválida y devolver un código de error apropiado.</p>
                
                <h2 class="content-subtitle2">declineRequest()</h2>
                <p> Esta prueba se encarga de verificar el manejo de una solicitud de rechazo de una solicitud específica. Asegura que el controlador pueda procesar correctamente la solicitud de rechazo y proporcionar una respuesta adecuada.</p>
                <div class="image-section">
                    <h2 class="content-subtitle">Implementacion </h2>
                    <img src="img/test.jpg" alt="Descripción de la imagen">
                    <p>En esta imagen se puede ver como se ejecutan todas las pruebas que se describen anteriormente y el tiempo que toma cada una ademas del tiempo en que se hacen por seccion y en total</p>
                </div>
            </div>
            
        </div>
    </div>
    <footer>
        <div id="footer-wrapper">
            <div class="socials-wrapper">
                <img src="" alt="">
                    <a href="https://www.instagram.com"><img class="social-icon" src="img/instagram.png"
                            alt="Instagram"></a>
                            <a href="https://www.twitter.com"><img class="social-icon" src="img/twitter.png" alt="Twitter"></a>
                    <a href="https://www.github.com"><img class="social-icon" src="img/github.png" alt="Github"></a>

                </div>

                <div class="about-wrapper">
                    <a href="contact.html" class="about-link"><i class="about-text">Contacto</i></a>

                    <i class="about-text">Alojado en render.com</i>
                    <i class="about-text">🄯Yo 2023</i>
                </div>

            </div>

        </footer>
    </div>




</body>

</html>